*{
	font-family: sourceSansPro, sans-serif;
}

@font-face {
    font-family: sourceSansPro;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

.brand-text{
	color: #19334d;
}

.brand-bg{
	background-color: #19334d;
}

.brandFont{
	padding-top:5%; 
	padding-right:5%;
	text-decoration:none; 
	color:black; 
	float:right;
}

.card-title{
	font-weight: bold;
}

.imagecontainer {
    position: relative;
    text-align: center;
    color: white;
}

.imagetext {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footercontainer{
	border-top: 0.5px solid black;
}

.productDescription{
	padding-left: 20%;
	padding-right: 30%;
}