*{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: white;
}

body{
	background-color: #0c1a27;
}

hr{
	background-color: white;
}
@font-face {
    font-family: sourceSansPro;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

.brand-text{
	color: #19334d;
}

.brand-bg{
	background-color: #19334d;
}

.brandFont{
	padding-top:5%; 
	padding-right:5%;
	text-decoration:none; 
	color:black; 
	float:right;
}

.footercontainer{
	border-top: 0.5px solid black;
	background-color: #060d14;
}

.productDescription{
	padding-left: 20%;
	padding-right: 30%;
}

#header-carousel{
	height: 500px;
}

#header-carousel img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}

#header-carousel .carousel-indicators{
	top: 10px;
}

.tooltip-inner{
	max-width: 100%;
}

.logo-caption{
	position: absolute;
	top: 244px;
	height: 200px;
	width: 100%;
	background: rgba(12,26,39,0.75);
	box-shadow: 0 -5px 10px rgba(216, 230, 243, 0.15);
}

#logo-image{
	object-fit: scale-down;
	width: 100%;
}

#info-button {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
}

#info-button img{
	background: rgba(0,0,0,0.25);
	width:100%;
}

#info-button img:hover {
	background: rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 575px){
	.logo-caption{
		position: absolute;
		top: 294px;
		height: 150px;
		width: 100%;
		background: rgba(12,26,39,0.75);
	}
	#main-navbar{
		position:absolute;
		top: 444px;
		width: 100%;
		background: rgba(12,26,39,0.75)
	}
	#info-button{
		/*no mobile info button due to hover constraints*/
		display: none;
	}
}

#main-navbar{
	position:absolute;
	top: 444px;
	width: 100%;
	background: rgba(12,26,39,0.75);
	box-shadow: 0 5px 10px rgba(216, 230, 243, 0.15);
}

#main-navbar a{
	text-decoration: none;
	color: white;
}
.nav-item{
	border-radius: 5px;
}
.nav-item:hover{
	background: linear-gradient(to right, rgba(36, 78, 117, 0), rgba(36, 78, 117, 0.5), rgba(36, 78, 117, 0));
}

.feature-box-button{
	position: relative;
	height: 250px;
	overflow: hidden;
	border-radius: 10px;
}
.feature-box-button:hover {
	box-shadow: 0 0 10px rgba(216, 230, 243, 0.5);
}

.feature-box-button img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
	filter: grayscale(0%);
}

.feature-box-button .feature-title{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.section-title{
	padding-top: 5%;
	padding-bottom: 2.5%;
	width: 100%;
	text-align: center;
	font-weight: 100;
	font-size: 48px;
}

.feature-row{
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.feature-caption-container{
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	width: 100%;
}

.feature-box-button:hover{
	cursor: pointer;
}

.feature-caption{
	width: 100%;
	text-align: center;
	font-weight: 200;
}

.feature-content-image{
	width: 100%;
	height: 520px;
	object-fit: cover;
	border-radius: 10px;
}

.feature-content-title{
	font-weight: 100;
	margin-top: 20px;
}

.feature-small-content-image{
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}

@media only screen and (max-width: 992px){
	.feature-content-image {
		width: 100%;
		height: 100%;
		object-fit: scale-down;
		border-radius: 10px;
	}
}

.page-header-image{
	height: 250px;
	width: 100%;
}

.page-header-image img{
	object-fit: cover;
	width: 100%;
	height: 500px;
}

.page-header-text{
	font-weight: 100;
	font-size: 80px;
	text-align: center;
}

@media only screen and (max-width: 677px){
	.page-header-text{
		font-size: 50px;
	}
}

@media only screen and (max-width: 500px){
	.page-header-text{
		font-size: 40px;
	}
}